{{>header}}

<div class="container-fluid">

    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 px-0">
            <div class="logo">
                <a href="./"><img class="img-fluid" src="{{logo}}" alt=""></a>
            </div>
            {{>nav}}
            <div class="imagenPdm">
                <div class="imagenPdm__sombra"></div>
            </div>
        </nav>
        <div id="stepsOrder" class="col-md-9 col-md-10 ml-sm-auto">       
            <section class="step">
                <h1>Consultar Solicitud</h1>
            </section>

            {{>solicitudes}} 

        </div>
    </div>
</div>

{{>footer}} 