{{>header}}

<div class="container-fluid">



        <nav id="sidebar" class="row">
        
        <div class="col-md-12 col-lg-12">

            <div class="logo">
                <a href="./"><img class="img-fluid" src="{{logo}}" alt=""></a>
            </div>
        
        </div>
        
        <div class="col-md-12 col-lg-12">
            {{>nav}}
        </div>
            
        </nav>

        <hr>

    <div class="row">
        <div id="stepsOrder" class="col-md-12  ml-sm-auto">
            
            <section class="step">

                <!-- 
                <ul>
                    <li class="active">Solicitud</li>
                    <li>Activa</li>
                    <li>Consulta</li>
                </ul>
                --> 
                    

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active first" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Datos Crediticios</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Validación Crediticia </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#vali" role="tab" aria-controls="vali" aria-selected="false">Retenciones </a>
                    </li>
                </ul>      
                
            </section>


                        
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{>set_datos_generales}}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {{>set_datos_crediticios}}
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    {{>set_validacion}}
                </div>
                <div class="tab-pane fade" id="vali" role="tabpanel" aria-labelledby="vali-tab">
                    {{>set_retenciones}}
                </div>
            </div>
            

        </div>
    </div>
</div>


{{>modal_dependientes}}

{{>footer}} 
