{{>header}}

<div class="container-fluid">
        
        <nav id="sidebar" class="row">
        
        <div class="col-md-12 col-lg-12">

            <div class="logo">
                <a href="./"><img class="img-fluid" src="{{logo}}" alt=""></a>
            </div>
        
        </div>
        
        <div class="col-md-12 col-lg-12">
            {{>nav}}
        </div>
            
        </nav>

        <hr>

    <div class="row">
        <div id="stepsOrder" class="col-md-12 col-md-12 ml-sm-auto">            

            {{>alta}}

        </div>
    </div>
</div>

{{>footer}} 