

#stepsOrder {
    section {
        border-bottom: 1px solid gainsboro;        
        margin-bottom: 15px;
        margin-top: 15px;       
        text-align: center; 
        h1 {
            color: slategray;
        }
    }
}

.step {
    ul {
        padding-left: 0;
        margin-left: 0;
        display: inline-block;
        counter-reset: step;
        li{
            list-style-type: none;
            float: left;
            position: relative;
            padding: 0px 30px;
            text-align: center;
            cursor: pointer;
            &::before {
                content: counter(step);
                counter-increment: step;     
                display: block;    
                text-align: center;
                margin: 0 auto;
                width: 2.5em;
                height: 2.5em;
                line-height: 2.5em;
                border: 1px solid $base_orange;
                color: $base_orange;
                border-radius: 50%;
                background-color: white;
            }
            &::after {
                content: "";
                width: 100%;            
                top: 1.25em;
                left: -50%;
                position: absolute;
                display: block;
                z-index: -1; 
                border-top: 4px dotted $step_blue;
            }
            &:first-child::after{
                content: none;
            }
        }
        li.active + li::after{
            background-color: $base_blue;
        }
        li.active::before{
            background-color: $base_blue;
            color: white;
            border-color: $base_blue;
        }
    }
}

.topBar {
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000428;
    background: linear-gradient(to right, #1d2227, #3e6d87);
}
